<%= render '/header' %>

<% @positions.each do |position, rankings| %>
<br>
<%= position %>
<table cellspacing="15">
  <thead>
    <tr>
      <th>Candidate</th>
    <% 1.upto(@num_ranks[position]) do |rank| %>
      <th><%= rank %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% rankings.each do |candidate, ranks| %>
    <tr>
      <td><%= candidate %></td>
    <% ranks.each do |rank, num_votes| %>
      <td><%= num_votes%></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
