<%= render '/header' %>

<%= link_to 'Elections', elections_path %>
<%= link_to 'New Position', new_position_path(@election.id) if @user.is_admin %>
<%= link_to 'New User', create_user_path(@election.id) if @user.is_admin %>

<h1>Positions</h1>
<table>
  <thead>
    <tr>
      <% if @user.is_admin %>
        <th></th>
      <% end %>
      <th>Position</th>
      <th>Candidates</th>
      <th>Vote</th>
    </tr>
  </thead>
  <tbody>
  <% @election.positions.each do |position| %>
    <tr>
      <% if @user.is_admin %>
        <td><%= link_to "Edit", edit_position_path(@election.id, position.id) %></td>
      <% end %>
      <td><%= link_to position.title, position_path(@election.id, position.id) %></td>
      <td><%= position.candidates.length %></td>
      <td><%= @votes[position] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
